SQLAlchemy==1.3.17
Flask==1.1.2
Flask-SQLAlchemy==2.4.3 
Jinja2==2.11.2
itsdangerous==1.1.0
psycopg2-binary==2.8.5
pkg-resources==0.0.0

#Flask
#The webframework you’ll use to build your server

#Flask-SQLAlchemy
#A Flask plugin that allows you to easily use SQLAlchemy in your server routes.

#psycopg2-binary
#Allows SQLAlchemy to connect with PostgreSQL databases#